.page {
    display: flex;
}


.page #pageContent {
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
}

.page #pageContent #headerContent h2 {
    text-decoration: underline;
}

.page #pageContent #headerContent p:hover {
    cursor: pointer;
}

.page #pageContent #apiContent {
    margin-top: 5%;
    grid-column-gap: 1%;
}

.page #pageContent #apiContent .gridItemWrapper {
    border: 1px solid gray;
}

.page #pageContent #apiContent .gridItemWrapper:last-child {
    margin-left: 10%;
}

.page #pageContent #apiContent .gridItemWrapper .componentWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page #pageContent #apiContent .gridItemWrapper .componentWrapper .items {
    border: 1px solid gray;
}

.page #pageContent #apiContent .gridItemWrapper .componentWrapper .items .clickableText {
    cursor: pointer;
}