.Login-background {
    background-image: url('../../assets/dummy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position:fixed;
    padding:0;
    margin: auto 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.Login-wrapper {
    width: 567px;
    height: 210px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    margin: 250px auto;
}

.Login-form {
    margin: 21px 0 23px;
}

.Login-form-fields-wrapper {
    position: relative;
}

.Login-form-field {
    width: 312px;
    margin: auto;
}

.Login-form-email-field {
    height: 41px;
    width: 312px;
}

.Login-form-password-field {
    height: 41px;
    width: 312px;
}

#login-form-stay-logged-in {
    margin-top: 10px;
    margin-left: 300px;
}

.Login-button {
    margin-top: 10px;
    margin-left: 245px;
}

.Login-password-recovery-wrapper {
    margin-left: 123px;
}

.Login-password-recovery {
    color: #ffffff;
    opacity: 0.8;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}