.showCookieWrapper {
    width: 800px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid brown;
}

.showCookieWrapper p{
    margin-right: 25px;
    margin-top: 10px;
}

.dismissCookieWrapper {
    display: none;
}